<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="roboto">
    <xacro:include filename="inertia_macro.xacro"/>
    <xacro:include filename="body.xacro"/>  
    <!-- <xacro:include filename="gazebo_model.xacro"/>    -->
    
    <xacro:include filename="ros2_control.xacro"/>  


    
</robot>